[submodule "Padroes de Projeto"]
	path = Padroes de Projeto
	url = C:\\Users\\fabio\\repositorio\\Testes Java\\Padroes de Projeto
[submodule "Testes_File"]
	path = Testes_File
	url = C:\\Users\\fabio\\repositorio\\Testes Java\\Testes_File
